body
  counter-reset:firstSection;

.navbar
  box-shadow 0 2px 8px #f0f1f2
  border-bottom 0
  .links
    top 0 !important
    left 19rem
    line-height $navbarHeight - 0.1rem
    .search-box
      margin-right: 1.5rem;
      input
        width 15rem
    .nav-links
      a
        line-height $navbarHeight - 0.1rem
        
.theme-default-content,
.page-edit,
.page-nav
  max-width 1500px !important
  margin-left 0 !important
blockquote
    padding: .3rem 1.5rem;
    border-left-width: .22rem;
    border-left-style: solid;
    background-color: #f3f5f7;
    // border-color: #42b983;
    border-color: #e8edee;
    color #2c3e50
img
  display inline-block
  margin 10px 0
  vertical-align middle
.sidebar
  & > .sidebar-links
    & > li > a.sidebar-link
      line-height 1.4 !important
    & > li:not(:first-child)
      margin-top .15rem !important

em
  font-style normal
  font-weight 600
  color red
strong
  font-weight 700


.theme-default-content
  margin-right: 270px !important
  code
    color #c7254e
    background transparent
    word-wrap: break-word;
    white-space: pre-wrap;
  & > p:first-child
    margin-top 1.6rem !important
  .table-of-contents
    position fixed
    width 17rem
    right 1.2rem
    top 6rem
    border-radius: .8rem;
    box-shadow: 0 0 2rem #e5e5e5;
    padding: 1rem;
    background: #fff;
    max-height 76vh
    box-sizing border-box
    overflow-y auto
    & > ul
      position relative
      list-style-type: none;
      margin 0
      padding-left: 1.1rem
      
      li
        list-style-type: none;
        font-size .8rem
        line-height: 1.9;
        counter-reset:secondSection;
        &:before
          position: absolute
          left: -.2rem
          color: #727475
          counter-increment: firstSection;
          content: counter(firstSection) "."
        li
          position relative
          font-size .7rem
          counter-reset: thirdSection;
          &:before
            position: absolute
            left: -1.3rem
            color: #727475
            counter-increment: secondSection;
            content:counter(firstSection) "." counter(secondSection) " "
        a
          display: block;
          color: #727475
          font-weight 400
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          
.custom-block
  padding-bottom .8rem !important
  border-left-width .22rem !important
  p
    white-space pre-wrap 

// 滚动条样式
::-webkit-scrollbar
  width 8px
  height 8px
  padding 2px
  box-sizing border-box
  background transparent
::-webkit-scrollbar-thumb
  border-radius 1em
  background-color rgba(58, 57, 57, 0.2)
  &:hover
    background-color: rgba(58, 57, 57, 0.5)
::-webkit-scrollbar-track
  border-radius 1em
  background-color transparent
  // border 1px solid #e4e4e4

@media (max-width: $MQNarrow)
  .search-box
    input
      width 10rem !important
      &:focus
        width 15rem !important

@media (max-width: $MQMobile)
  .navbar
    .links
      padding-left: 0 !important

  .search-box
    margin-right: 0 !important
    input
      left: .4rem !important
      width: 0 !important
      &:focus
        width 10rem !important
        margin-left: -11rem
  .theme-default-content
    margin-right: 0 !important
    .table-of-contents
      display none
